body {
  font-family: Arial;
  max-width: 700px;
  margin: auto;
  text-align: center;
}

input {
  padding: 8px;
  margin: 5px;
  font-size: 18px;
}

button {
  padding: 8px 15px;
  margin: 5px;
  font-size: 18px;
  cursor: pointer;
}

li {
  cursor: pointer;
  padding: 5px;
}

li:hover {
  background: #eee;
}

#errorMsg {
  color: red;
  font-size: 28px;
  font-weight: bold;
  margin-top: 15px;
}

#adminPanel {
  margin-top: 20px;
}

#result {
  font-size: 22px;
  margin: 15px;
}
